body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.container {
    max-width: 600px;
    margin: 40px auto;
    margin-bottom: 80px;
    font-family: "Raleway", sans-serif;
    color: #49576d;
    background-color: white;
    padding: 30px;
    border: rgba (0, 0, 0, 0.8);
    border-radius: 5px;
}

a {
    color: #49576d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.temperature {
    font-weight: bolder;
    font-size: 24px;
}

.form-control {
    box-sizing: auto;
}

.col {
    width: 60%;
}

.col-1 {
    width: 10%;
}

.city {
    font-size: larger;
    margin: 15px 0;
}

.btn {
    background-color: #49576d;
    display: inline;
    margin-top: 3px;
}

.vertical {
    border-left: 2px solid #49576d;
    height: 20px;
    position: relative;
    top: 9px;
    padding-top: 5px;
}

.fa-cloud-sun {
    font-size: 28px;
    color: #49576d;
}

.time {
    margin-bottom: 15px;
}

.day {
    text-align: center;
    padding: 2px;
}

.weather {
    padding: 2px;
    text-align: center;
}