body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    margin-bottom: 500px;
}

.author {
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    margin-bottom: 10px;
    font-family: "Raleway", sans-serif;
    color: #49576d;
    background-color: white;
    padding: 25px;
    border: rgba (0, 0, 0, 0.8);
    border-radius: 5px;
}

a {
    color: #49576d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.desc::first-letter {
    text-transform: capitalize;
}

.temperature {
    font-weight: bolder;
    font-size: 24px;
    padding-right: 5px;
}

.form-control {
    box-sizing: auto;
    padding: 5px 5px;
}

.forecast {
    padding: 2px;
    font-size: 10px;
    text-align: center;
}

#localButton {
    padding: 4px;
    margin-top: 4px;
}

.col {
    width: 60%;
}

.col-1 {
    width: 7%;
    padding: 1px 10px 10px;
}

.col-2 {
    padding: 5px;
    width: 12%;
}

.city {
    font-size: larger;
    margin: 15px 0;
    padding: 0px;
    position: relative;
}

.btn {
    background-color: #49576d;
    display: inline;
    margin-top: 3px;
}

.btn-sm {
    padding: 4px 6px;
}

.vertical {
    border-left: 2px solid #49576d;
    height: 20px;
    position: relative;
    top: 9px;
    padding-top: 5px;
}

.fa-cloud-sun {
    font-size: 28px;
    color: #49576d;
}

.time {
    margin-bottom: 15px;
}

.day {
    text-align: center;
    padding: 2px;
}

.weather {
    padding: 2px;
}