body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #7b7d80 100%);
    margin-bottom: 100%;
}

.author {
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    margin-bottom: 10px;
    font-family: "Raleway", sans-serif;
    color: rgb(72, 72, 74);
    background-color: white;
    padding: 25px;
    border: rgba (0, 0, 0, 0.8);
    border-radius: 5px;
}

a {
    color: rgb(72, 72, 74);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #EC6E4C;
}

a:focus {
    color: #EC6E4C;
}

.descr:first-letter {
    text-transform: capitalize;
}

img {
    max-width: 100%;
    height: auto;
}

.temp {
    padding: 22px 0px;
}

.temperature {
    font-weight: bolder;
    font-size: 24px;
}

.form-control {
    box-sizing: auto;
    padding: 5px 5px;
}

.forecast {
    padding: 2px;
    font-size: 10px;
}

.forecast img {
    padding: 2px;
    font-size: 10px;
}

#weatherForecast {
    text-align: center;
}

h3 {
    font-size: 10px;
}

#localButton {
    padding: 4px;
    margin-top: 4px;
}

.col {
    width: 60%;
}

.col-1 {
    width: 7%;
    padding: 1px 1px 10px;
}

.col-2 {
    padding: 5px;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.city {
    font-size: larger;
    margin: 15px 0;
    padding: 0px;
    position: relative;
}

.btn {
    background-color: rgb(72, 72, 74);
    display: inline;
    margin-top: 3px;
}

.btn-sm {
    padding: 4px 6px;
}

.vertical {
    border-left: 2px solid;
    color: rgb(72, 72, 74);
    height: 20px;
    position: relative;
    top: 9px;
    padding-top: 5px;
}

.fa-cloud-sun {
    font-size: 28px;
    color: rgb(72, 72, 74);
}

.day {
    text-align: center;
    padding: 2px;
}

.weather {
    padding: 2px;
}